* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 0 15px;
}

.navbar-container {
  display: flex;
  padding: 10px 0;
  font-family: "Rubik", sans-serif;
  height: 90px;
}

.navbar-container .navbar-left {
  width: 40%;
  height: 100%;
}

.navbar-container .navbar-left img {
  height: 60px;
}

.navbar-container .navbar-right {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-container .navbar-right ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container .navbar-right ul li {
  list-style-type: none;
  text-transform: uppercase;
}

.navbar-container .navbar-right ul li a {
  text-decoration: none;
  color: #1b3c59;
  font-weight: 100;
  font-size: 14px;
  padding: 8px 20px;
}

.navbar-container .navbar-right ul li a:hover,
.navbar-container .navbar-right ul li a.active {
  border-bottom: 2px solid #61ce4e;
}

.navbar-container .navbar-right ul li button {
  background-color: #61ce4e;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 10px 22px;
  font-weight: 100;
  cursor: pointer;
}

